* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bungee Hairline";
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
canvas {
  width: 100vw;
  height: 100vh;
  outline: none;
}

p {
  margin: 0;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  position: fixed;
  text-align: center;
  font-size: 96px;
  transition: opacity 1s;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 60px;
  padding: 10px;
  background: #000;
  border: 1px solid #fff;
  color: #4ef7da;
  font-size: 50px;
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.score,
.lives,
.game-over {
  /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
    0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;*/
}

.score,
.lives {
  font-size: 20px;
  position: fixed;
  top: 20px;
}

.score {
  left: 20px;
}

.lives {
  right: 20px;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  position: fixed;
  text-align: center;
  transition: opacity 1s;
  font-size: 36px;
  text-align: center;
  z-index: 1;
}

.large {
  font-size: 96px;
  margin: 0;
}
